<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

    <main> 
        <% if (levels.length > 0) { %>   
            <% levels.forEach((level) => { %>  
                <a href="/levels/<%= level._id %>">
                    <div class="level-card">
                        <h2><%= level.position %>. <%= level.name %>
                        </h2>
                        <p class="level-creator"> <%= level.creator %> </p>
                        <p class="level-points"><%= level.points %> points</p>
                    </div>
                </a>
            <% }); %>
        <% } %>
    </main>

</body>
</html>