<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <nav>
        <h1>User Coin List</h1>
        <a href="/leaderboard">Leaderboard</a>
    </nav>

    <main> 
        <% if (levels.length > 0) { %>   
            <% levels.forEach((level) => { %>  
                <a href="/levels/<%= level.Position %>">
                    <div class="level-card">
                        <h2><%= level.Position %>. <%= level.Level %>
                            <span class="level-points"> <%= level.Points %> </span>
                        </h2>
                        <p> <%= level.Creator %> </p>
                    </div>
                </a>
            <% }); %>
        <% } %>
    </main>

</body>
</html>