<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

    <main class="flex-column"> 
        <% if (levels.length > 0) { %>   
            <% levels.forEach((level) => { %>
                <a href="/levels/<%= level._id %>" class="level-card__link">
                    <article class="card level-card">
                        <div class="level-card__title"><%= level.position %>. <%= level.name %></div>
                        <div class="level-card__info"><%= level.creator %><span class="level-card__points"><%= inflectedAmountString(level.points, "Point") %></span>
                        </div>
                    </article>
                </a>
            <% }); %>
        <% } %>
    </main>

</body>
</html>