<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

    <main class="flex-column">
        <header class="page-header">
            <h2>Leaderboard</h2>
        </header>
        
        <section class="leaderboard">
            <% leaderboard.forEach((entry) => { %>
                <% player = entry.player %>
                <a class="player-card__link" href="/players/<%= player.name %>">
                    <div class="card player-card">
                        <div class="player-card__rank">#<%= entry.rank %></div>
                        <div class="player-card__info" data-rank="<%= entry.rank %>">
                            <div class="player-card__name"><%= player.name %><img class="player-card__icon"></div>
                            <div class="player-card__points"><%= inflectedAmountString(entry.points, "Point") %></div>
                        </div>
                    </div>
                </a>
            <% }); %>
        </section>
    </main>

    <script src="/js/leaderboard.js"></script>
</body>
</html>