<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

    <main>
        <div class="page-content">
            <header class="page-header">
                <h2><%= level.position %> - <%= level.name %></h2>
                <p><%= level.creator %> - <%= level.points %> points</p>
            </header>

            <section class="page-section">
                <h3><%= completions[0].players.length %> Records</h3>
                <ul>
                    <% completions[0].players.forEach((player) => { %>
                        <a href="/players/<%= player.name %>"><li><%= player.name %></li></a>
                    <% }); %>
                </ul>
            </section>
        </div>
    </main>
</body>
</html>