<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>
    
    <%- include("./partials/nav.ejs") %>

    <main>
        <div class="page-content">
            <header class="page-header">
                <h2>Player Info:</h2>
                <p><span class="bold">Name:</span> <%= player.name %></p>
                <p><span class="bold">Points:</span> <%= stats[0].points %></p>
                <p><span class="bold">Rank:</span> #<%= stats[0].rank %></p>
            </header>

            <section class="page-section">
                <ul>
                    <h3><%= completions[0].levels.length %> Completions</h3>
                    <% completions[0].levels.forEach((level) => { %>
                        <a href="/levels/<%= level._id %>"><li><%= level.name %></li></a>
                    <% }); %>
                </ul>
            </section>
            
        </div>
    </main>
</body>
</html>