<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>
    
    <%- include("./partials/nav.ejs") %>

    <main class="flex-column">
        <div class="card player-card">
            <header class="player-card__header">
                <h2>Player Info:</h2>
            </header>

            <ul class="player-card__info">
                <li><span class="bold">Name:</span> <%= player.name %></li>
                <li><span class="bold">Points:</span> <%= stats[0].points %></li>
                <li><span class="bold">Rank:</span> #<%= stats[0].rank %></li>
            </ul>
        </div>
        
        <section class="completions-section">
            <h3><%= completions[0].levels.length %> Completions</h3>
            <ul class="card completions-card">
                <% completions[0].levels.forEach((level) => { %>
                    <li class="completions-card__entry"><a href="/levels/<%= level._id %>"><%= level.position %>. <%= level.name %></a></li>
                <% }); %>
            </ul>
        </section>
        
    </main>
</body>
</html>